.section {
  background: #000;
  padding: 120px 0 260px;
  overflow: hidden;
}



.intro {
  /* max-width: 760px;
  margin: 0 auto 120px;
  text-align: center; */
}

.heading {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.41;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
}


.description {
  width: 744px;
  margin: 0 auto 16px;
  margin-top: 50px;

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;

  line-height: 1.41; /* 141% */
  letter-spacing: 0;
  text-align: center;

  color: rgba(255, 255, 255, 0.65);
  opacity: 1;
}



.contentRow {
  position: relative;
  display: flex;
  align-items: flex-start;

  padding-left: 800px;   
  padding-right: 120px;

  min-height: 900px;
}


.abstractWrapper {
  position: absolute;
  left: -200px;     
  top: 50%;
  transform: translateY(-50%);

  width: 1015px;
  height: 1015px;
  margin-top: 250px;

  pointer-events: none;
  z-index: 1;
}
.abstractWrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}




.features {
  position: relative;
  width: 520px;
  min-height: 520px;
  margin-top: 300px;
  z-index: 2;
}


.feature {
  position: absolute;
  opacity: 1;
  
}



.feature h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;

  line-height: 1.41;
  letter-spacing: 0;

  color: #ffffff;
  margin-bottom: 14px;    
}


.feature p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;

  line-height: 1.41;
  letter-spacing: 0;


  color: rgba(255, 255, 255, 0.6);
}


.feature.right {
  width: 230px;
  text-align: right;
  
}


.feature.right h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;

  line-height: 1.41;
  letter-spacing: 0;

  color: #ffffff;
  margin-bottom: 12px;
}


.feature.right p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;

  line-height: 1.41;
  letter-spacing: 0;
  

  color: rgba(255, 255, 255, 0.6);
}


.context {
  width: 255px;
  top: 0;
  left: 0;
  text-align: left;
  margin-top: 60px;
  
}


.grounding {
  width: 230px;
  top: 140px;
  right: 0;
  text-align: right;
  margin-top: 100px;
  
}


.hallucinations {
  width: 230px;
  top: 320px;
  left: 0;
  text-align: left;
  margin-top: 100px;
}



@media (max-width: 1024px) {
  .description {
    width: 90%;
  }

  .contentRow {
    padding-left: 40px;
    padding-right: 40px;
    min-height: auto;
  }

  .abstractWrapper {
    width: 700px;
    height: 700px;
    left: -250px;
    margin-top: 200px;
  }

  .features {
    width: 420px;
    margin-top: 220px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 80px 16px;
  }

  .description {
    width: 100%;
    font-size: 14px;
    margin-top: 24px;
  }

  .contentRow {
    display: block;
    padding: 0;
    min-height: auto;
  }

  .abstractWrapper {
    position: relative;
    left: -120px;
    top: auto;
    transform: none;
    width: 520px;
    height: 520px;
    margin: 80px 0 40px;
  }

  .features {
    width: 100%;
    height: auto;
    margin-top: 0;
  }

 .feature {
  position: absolute;
  width: 220px;
}


  .feature.right {
    text-align: center;
  }

  .context,
  .grounding,
  .hallucinations {
    width: 100%;
    margin-top: 0;
  }
}


@media (max-width: 480px) {
  .heading {
    font-size: 26px;
  }

  .abstractWrapper {
    width: 440px;
    height: 440px;
    left: -140px;
  }

  .feature h3 {
    font-size: 16px;
  }

  .feature p {
    font-size: 13px;
  }
}



@media (max-width: 768px) {

  .intro{
    padding: 40px;
  }

  .contentRow {
    position: relative;
    padding: 0 16px;
    min-height: 980px;
  }

  .abstractWrapper {
    position: absolute;
    width: 1015px;
    height: 1015px;
    left: -420px;
    top: 120px;
    transform: none;
    margin: 0;
  }


  .features {
  position: relative;
  width: 100%;
  height: auto;             
  padding-bottom: 120px;    
}


  .feature {
    position: absolute;
    width: 260px;

   
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }


  .context {
    top: 260px;
  }

  .grounding {
    top: 520px;
  }

  .hallucinations {
    top: 800px;
  }
}
