.footer {
  background: #000;
  padding: 80px 24px;
  
}

.wrapper {
  max-width: 1640px;
  margin: 0 auto;

  display: flex;
  gap: 80px;
  align-items: flex-start;
}

.brand {
  min-width: 260px;
  
}

.brand img {
  width: 56px;
  height: 56px;
  margin-bottom: 16px;
  
}

.brand h3 {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 8px;
}

.brand p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 24px;
}

.copyright {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
}

.glass {
  width: 1200px;
  min-height: 387px;

  padding: 48px 50px;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.03),
    rgba(255, 255, 255, 0.01)
  );

  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 20px;

  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.381),
    inset 0 -1px 0 rgba(255, 255, 255, 0.381);

  backdrop-filter: blur(6px);
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.glass {
  width: 1400px;
}



.columns {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 64px;
}

.column h4 {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
}

.column a {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 12px;
  text-decoration: none;
}

.column a:hover {
  color: #fff;
}




@media (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
  }

  .columns {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .columns {
    grid-template-columns: 1fr;
  }

  .brand {
    text-align: center;
  }
}
